<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'page_list' %}">Mi Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'page_list' %}">Páginas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Acerca de mí</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inbox' %}">Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'send_message' %}">Enviar mensaje</a>
        </li>
        </li>
        {% endif %}
      </ul>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text text-white me-2">Hola, {{ user.username }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>